<a href="https://colab.research.google.com/github/Yc-future/ISTM631/blob/note/ISTM631_2nd_session_10_29_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Structures in Python

In [ ]:
tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [ ]:
type(tuple1)

tuple

In [ ]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [ ]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
tuple1[-1]

1.2

In [ ]:
print(tuple1[0][1])

i

In [ ]:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
tuple2[0][0:3]

'dis'

In [ ]:
len(tuple2)

5

In [ ]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [ ]:
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

* We can start from Ratings[0] and put it as the first variable in the new tuple RatingsSorted.


* We move on to Ratings[1], if it is larger than RatingsSorted[0] we move it to RatingsSorted[1], otherwise we change their positions.

* ...

In [ ]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [ ]:
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [ ]:
print(NestedT[2][1][2])

c

In [ ]:
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

Lists

In [ ]:
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [ ]:
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [ ]:
["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [ ]:
L[3:5]

[]

In [ ]:
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [ ]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

Lists are mutable

In [ ]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [ ]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [ ]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [ ]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

Copy vs clone

In [ ]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsRef.png" width="1000" align="center">

In [ ]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [ ]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsVal.gif" width="1000" />

In [ ]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

Concatenate the following lists <code>A = [1, 'a']</code> and <code>B = [2, 1, 'd']</code>:

Dictionaries

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsList.png" width="650" />

In [ ]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{(0, 1): 6,
 'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5}

In [ ]:
# Access to the value by the key

Dict["key1"]

1

In [ ]:
# Access to the value by the key

Dict[(0, 1)]

6

In [ ]:
L[2]

['pop', 10]

In [ ]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsStructure.png" width="650" />

In [ ]:
# Get value by keys

release_year_dict['Thriller']

'1982'

In [ ]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [ ]:
# Get all the values in dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [ ]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Graduation': '2007',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

In [ ]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976'}

In [ ]:
# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

True

The Albums <b>Back in Black</b>, <b>The Bodyguard</b> and <b>Thriller</b> have the following music recording sales in millions 50, 50 and 65 respectively:


a) Create a dictionary <code>album_sales_dict</code> where the keys are the album name and the sales in millions are the values. 

b) Use the dictionary to find the total sales of <b>Thriller</b>:

c) Find the names of the albums from the dictionary using the method <code>keys</code>:

# Sets

A set is a unique collection of objects in Python. You can denote a set with a curly bracket <b>{}</b>. Python will automatically remove duplicate items:

In [40]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [41]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

you are given a text, decide on an algorithm that decides if you have repeated letters in the text or not.

In [42]:
text = 'Arash'

L1 = text.split()

D1 = set(L1)

len(D1) == len(L1)

True

modify the code to make it work correctly.

In [43]:
A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [44]:
# Add element to set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [45]:
# Remove the element from set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [46]:
# Verify if the element is in the set

"AC/DC" in A

True

In [47]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsSamples.png" width="650" />

In [48]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLogic.png" width = "650" />

In [49]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [50]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLeft.png" width="650" />

In [51]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsIntersect.png" width="650" />

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsUnion.png" width="650" />

In [52]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [53]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [54]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [55]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [56]:
!pip install pandas

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/pip/_vendor/packaging/version.py", line 28, in parse
    return Version(version)
  File "/usr/local/lib/python3.6/dist-packages/pip/_vendor/packaging/version.py", line 221, in __init__
    raise InvalidVersion("Invalid version: '{0}'".format(version))
pip._vendor.packaging.version.InvalidVersion: Invalid version: '.dist-info'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "<frozen importlib._bootstrap>", line 665, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 678, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "/usr/local/lib/python3.6/dist-packages/pip/_internal/main.py", line 13, in <module>
    from pip._internal.cli.autocompletion import autocomplete
  File "/usr/local/lib/python3.6/dist-packages/pip/_internal/cli/autocompletion.py", line 11, in <module>
    from pip._internal.cli.main_parser import create_main_parser
  File "/usr/local/lib/python3.6/dist-packages/pip/_internal/cli/main_parser.py", line 7, in <module>
    from pip._internal.cli import cmdoptions
  File "/usr/local/lib/python3.6/dist-packages/pip/_internal/cli/cmdoptions.py", line 28, in <module>
    from pip._internal.models.target_python import TargetPython
  File "/usr/local/lib/python3.6/dist-packages/pip/_internal/models/target_python.py", line 4, in <module>
    from pip._internal.utils.misc import normalize_version_info
  File "/usr/local/lib/python3.6/dist-packages/pip/_internal/utils/misc.py", line 19, in <module>
    from pip._vendor import pkg_resources
  File "/usr/local/lib/python3.6/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3250, in <module>
    @_call_aside
  File "/usr/local/lib/python3.6/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3234, in _call_aside
    f(*args, **kwargs)
  File "/usr/local/lib/python3.6/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3263, in _initialize_master_working_set
    working_set = WorkingSet._build_master()
  File "/usr/local/lib/python3.6/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 574, in _build_master
    ws = cls()
  File "/usr/local/lib/python3.6/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 567, in __init__
    self.add_entry(entry)
  File "/usr/local/lib/python3.6/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 623, in add_entry
    for dist in find_distributions(entry, True):
  File "/usr/local/lib/python3.6/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 2061, in find_on_path
    path_item_entries = _by_version_descending(filtered)
  File "/usr/local/lib/python3.6/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 2034, in _by_version_descending
    return sorted(names, key=_by_version, reverse=True)
  File "/usr/local/lib/python3.6/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 2032, in _by_version
    return [packaging.version.parse(part) for part in parts]
  File "/usr/local/lib/python3.6/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 2032, in <listcomp>
    return [packaging.version.parse(part) for part in parts]
  File "/usr/local/lib/python3.6/dist-packages/pip/_vendor/packaging/version.py", line 30, in parse
    return LegacyVersion(version)
  File "/usr/local/lib/python3.6/dist-packages/pip/_vendor/packaging/version.py", line 71, in __init__
    self._key = _legacy_cmpkey(self._version)
  File "/usr/local/lib/python3.6/dist-packages/pip/_vendor/packaging/version.py", line 162, in _legacy_cmpkey
    for part in _parse_version_parts(version.lower()):
  File "/usr/local/lib/python3.6/dist-packages/pip/_vendor/packaging/version.py", line 149, in _parse_version_parts
    yield "*final"
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/bin/pip3", line 5, in <module>
    from pip._internal.main import main
  File "<frozen importlib._bootstrap>", line 971, in _find_and_load
  File "<frozen importlib._bootstrap>", line 955, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 665, in _load_unlocked
  File "<frozen importlib._bootstrap>", line 323, in __exit__
KeyboardInterrupt

In [57]:
import pandas as pd
import numpy as np

In [58]:
test_list = [100,200,300]
pd.Series(data=test_list)

0    100
1    200
2    300
dtype: int64

In [59]:
dictionary = {'a':100,'b':200,'c':300}
pd.Series(data=dictionary)

a    100
b    200
c    300
dtype: int64

In [60]:
data = [['thomas', 100], ['nicholas', 200], ['danson', 300]] 
df = pd.DataFrame(data, columns = ['Name', 'Age'])
df

       Name  Age
0    thomas  100
1  nicholas  200
2    danson  300

In [61]:
data = {'name': ['thomas','nicholas','danson','jack'], 'age':[100,200,300,400]}

df = pd.DataFrame(data)

df

       name  age
0    thomas  100
1  nicholas  200
2    danson  300
3      jack  400

In [62]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
col=['sepal_length','sepal_width','petal_length','petal_width','type']

iris = pd.read_csv(url, names = col)

In [63]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width         type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [64]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   type          150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [65]:
iris.nunique()

sepal_length    35
sepal_width     23
petal_length    43
petal_width     22
type             3
dtype: int64

In [66]:
iris['petal_length'].unique()

array([1.4, 1.3, 1.5, 1.7, 1.6, 1.1, 1.2, 1. , 1.9, 4.7, 4.5, 4.9, 4. ,
       4.6, 3.3, 3.9, 3.5, 4.2, 3.6, 4.4, 4.1, 4.8, 4.3, 5. , 3.8, 3.7,
       5.1, 3. , 6. , 5.9, 5.6, 5.8, 6.6, 6.3, 6.1, 5.3, 5.5, 6.7, 6.9,
       5.7, 6.4, 5.4, 5.2])

In [67]:
df = iris[['petal_length','petal_width']]

In [68]:
df.head()

   petal_length  petal_width
0           1.4          0.2
1           1.4          0.2
2           1.3          0.2
3           1.5          0.2
4           1.4          0.2

In [69]:
df.drop(['petal_length'], axis = 1, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [70]:
df.iloc[20:30]

    petal_width
20          0.2
21          0.4
22          0.2
23          0.5
24          0.2
25          0.2
26          0.4
27          0.2
28          0.2
29          0.2

In [71]:
df[df['petal_width']>0.5]

     petal_width
43           0.6
50           1.4
51           1.5
52           1.5
53           1.3
..           ...
145          2.3
146          1.9
147          2.0
148          2.3
149          1.8

[101 rows x 1 columns]

In [72]:
df.describe()

       petal_width
count   150.000000
mean      1.198667
std       0.763161
min       0.100000
25%       0.300000
50%       1.300000
75%       1.800000
max       2.500000

In [73]:
df[df['petal_width']>0.5].iloc[20:30].median()

petal_width    1.4
dtype: float64

In [74]:
df[df['petal_width']>0.5].iloc[20:30].std()

petal_width    0.214994
dtype: float64

In [75]:
df[df['petal_width']>0.5].iloc[20:30].count()

petal_width    10
dtype: int64

In [76]:
iris.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [77]:
iris['type'].value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: type, dtype: int64

In [78]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
type            0
dtype: int64